$include-open-sans: false

@import "foundation/scss/foundation/settings"
@import "foundation/scss/foundation/components/global"
@import "foundation/scss/foundation/components/forms"
@import "foundation/scss/foundation/components/type"

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea
    margin-bottom: 0

html, body
    height: 100%
    width: 100%

body
    margin: 0
    padding: 0

#map
    height: 100%
    width: 80%
    float:left

article
    width: 80%
    float: left
    padding-top: 30px
    padding-left: 30px

body > aside
    width: 20%
    float: left
    padding: 10px

    section
        padding-top: 10px

nav
    border-top: 1px solid lightgrey
    border-bottom: 1px solid lightgrey
    padding: 5px 2px
    margin: 20px 0

    ul
        margin: 0
        padding: 0
        list-style: none

        .about
            padding-top: 5px


.legend
    line-height: 18px
    color: #555
    background: white

.legend i
    width: 18px
    height: 18px
    float: left
    margin-right: 8px
    opacity: 0.7

#filters
    section
        div
            padding-bottom: 10px

#limit
    input
        margin-right: 0.2em
        margin-left: 0.5em

        &:first-child
            margin-left: 0

#map.loading
    opacity: 0.2
    &:after
        content: 'loading...'
        display: block
        position: absolute
        top: 50%
        left: 45%
        color: black
        font-size: 30px
        width: 10%
        margin-top: -15px
        text-align: center

.fingerprint
    font-size: 0.7em